body{
  background-color: rgba(231, 213, 186, 0.781);
}
#login{
  border-style: solid ;
  border-width: 5px;
  width: 400px;
  height: 400px;
  text-align: center;
  border-radius: 70px;
  background-color: rgb(213, 175, 235);
  
}
h2{
  font-size: 35px;
  color: rgb(31, 17, 17);
}

div{
  width: 400px;
  height: 55px;
}
input{
  width: 70%;
  height: 50%;
  border: 2px;
  border-style: solid;
  border-radius: 100px;
  text-align: center;

}
button{
  width: 120px;
  height: 35px;
  margin: 15px;
  font-size: medium;
  border-radius: 15px;
  border: 3px;
  border-style: solid;
}
button:hover {
  background-color: rgb(249, 253, 255);
  color: rgb(69, 111, 236);
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 11px 10px 14px 2px;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
  font-size: medium;
  margin: 100px;
}